@tailwind base;
@tailwind components;
@tailwind utilities;

/* Give me scrool code */

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #107E75;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #107E75;
}

::selection{
    background-color: #0b1b28;
    color: white;
}